<div class="content">
  <div class="title-principal">
  <h2>Tienda Alquiler Games</h2>
  </div>
  <div class="content-img">
    <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/980px/public/media/image/2020/09/world-warcraft-shadowlands-2061459.jpg?itok=LViXKFRu">
  </div>
    <div class="card">
      <div class="menu-title">
      <h3 style="color: white; text-align: center">Menu</h3>
      </div>
    <div class="card-body">
      <button type="button" class="btn btn-warning" [routerLink]="'/register-client'">Registrar cliente</button>
      <button type="button" class="btn btn-warning" [routerLink]="'/register-game'">Registrar juego</button>
      <button type="button" class="btn btn-warning" [routerLink]="'/view-client'">Ver Clientes</button>
      <button type="button" class="btn btn-warning"  [routerLink]="'/view-games'">Ver Juegos</button>
      <button type="button" class="btn btn-warning"  [routerLink]="'/price-consola'">Precio por consola</button>
      <button type="button" class="btn btn-warning"  [routerLink]="'/alquiler'">Generar Alquiler</button>
    </div>
  </div>
</div>
