<div class="container-edit">
  <div class="card w-50 m-3">
    <div class="card-body">
      <div class="title text-center">
        <p>Precio de juegos por consola</p>
      </div>

      <div class="container-form w-100 mt-4">
        <form [formGroup]="consolePriceForm" (ngSubmit)="consolePriceSave()">
          <div class="input-group mb-2">
            <div class="input-fill w-100">
              <div class="mb-3">
                <span class="mr-sm">Tipo de consola</span>
              </div>
              <select class="form-select w-100" formControlName="consoleTypeId">
                <option value="3fa85f64-5717-4562-b3fc-2c963f66afa6">Xbox</option>
                <option value="9ee4ab12-718a-4cc1-8643-836ac8d75b69">PlayStation</option>
                <option value="247b8526-a076-4325-b0d4-0d53dd7b8cb9">Nintendo</option>
              </select>
              <div *ngIf="consolePriceForm.get('consoleTypeId')?.dirty || consolePriceForm.get('consoleTypeId')?.touched">
                <p *ngIf="consolePriceForm.get('consoleTypeId')?.hasError('required')" style="color: red">
                  Este campo es requerido
                </p>
              </div>
            </div>
          </div>

          <div class="input-group">
            <div class="input-fill w-100">
              <span class="mr-sm">Precio (USD)</span>
              <input type="number" class="form-control w-100 mb-2" formControlName="pricePerConsoleCash">
              <div *ngIf="consolePriceForm.get('pricePerConsoleCash')?.dirty || consolePriceForm.get('pricePerConsoleCash')?.touched">
                <p *ngIf="consolePriceForm.get('pricePerConsoleCash')?.hasError('required')" style="color: red">
                  Este campo es requerido
                </p>
              </div>
            </div>
          </div>
          <div class="btns-edit">
            <button class="btn btn-success w-100" type="submit">Registrar</button>
            <button class="btn btn-primary w-100 mt-3" [routerLink]="'/dashboard/'">Volver</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





