<div class="container-view-client">
  <div class="title-principal">
    <h2>Clientes registrados</h2>
  </div>
  <div class="container-table">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Nombre completo</th>
        <th scope="col">Numero de Documento</th>
        <th scope="col">Email</th>
        <th scope="col">Telefono</th>
        <th class="col-button">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of clients">
        <td>{{item.personName}} {{item.personLastName}}</td>
        <td>{{item.personDocument}}</td>
        <td>{{item.personEmail}}</td>
        <td>{{item.personPhone}}</td>
        <td style="text-align: center"><button type="button" class="btn btn-success" [routerLink]="'/edit-client/'+item.personId">Edit</button></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-warning" [routerLink]="'/dashboard'">Volver</button>
  </div>
</div>
