<div class="container-view-client">
  <div class="title-principal">
    <h2>Clientes registrados</h2>
  </div>
  <div class="container-table">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Telefono</th>
        <th class="col-button">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>Otto</td>
        <td style="text-align: center"><button type="button" class="btn btn-success">Edit</button></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-warning" [routerLink]="'/dashboard'">Volver</button>
  </div>
</div>
