<div class="container-view-client">
  <div class="title-principal">
    <h2>Juegos registrados</h2>
  </div>
  <div class="container-table">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Año</th>
        <th scope="col">Genero</th>
        <th class="col-button">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of games">
        <th>{{item.videoGameName}}</th>
        <td>{{item.videoGameYear}}</td>
        <td>{{item.videoGameGender}}</td>
        <td style="text-align: center"><button type="button" class="btn btn-success" [routerLink]="'/edit-game/'+item.videoGameId">Editar</button></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-warning" [routerLink]="'/dashboard'">Volver</button>
  </div>
</div>

