<div class="container-edit">
  <div class="card w-50 m-3">
    <div class="card-body">
      <div class="title text-center">
        <p>Registrar Información de los Juegos</p>
      </div>

      <div class="container-form w-100 mt-4">
        <form [formGroup]="gameForm" (ngSubmit)="gameSave()">
          <div class="input-group mb-2">
            <div class="input-fill w-100">
              <div class="mb-3">
                <span class="mr-sm">Tipo de consola</span>
              </div>
              <select class="form-select w-100" formControlName="consoleTypeId">
                <option value="3fa85f64-5717-4562-b3fc-2c963f66afa6">Xbox</option>
                <option value="9ee4ab12-718a-4cc1-8643-836ac8d75b69">PlayStation</option>
                <option value="247b8526-a076-4325-b0d4-0d53dd7b8cb9">Nintendo</option>
              </select>
              <div *ngIf="gameForm.get('consoleTypeId')?.dirty || gameForm.get('consoleTypeId')?.touched">
                <p *ngIf="gameForm.get('consoleTypeId')?.hasError('required')" style="color: red">
                  Este campo es requerido
                </p>
              </div>
            </div>
          </div>

          <div class="input-group">
            <div class="input-fill w-100">
              <span class="mr-sm">Nombre</span>
              <input type="text" class="form-control w-100 mb-2" formControlName="videoGameName">
              <div *ngIf="gameForm.get('videoGameName')?.dirty || gameForm.get('videoGameName')?.touched">
                <p *ngIf="gameForm.get('videoGameName')?.hasError('required')" style="color: red">
                  Este campo es requerido
                </p>
              </div>
            </div>
          </div>
          <div class="input-group">
            <div class="input-fill w-100 mb-3">
              <span class="mr-sm ">Año</span>
              <input type="date" class="form-control w-100 mt-3" formControlName="videoGameYear">
              <div *ngIf="gameForm.get('videoGameYear')?.dirty || gameForm.get('date')?.touched">
                <p *ngIf="gameForm.get('videoGameYear')?.hasError('required')" style="color: red">
                  Este campo es requerido
                </p>
              </div>
            </div>
          </div>
          <div class="input-group">
            <div class="input-fill w-100">
              <span class="mr-sm">Cantidad disponible</span>
              <input type="number" class="form-control w-100 mb-2" formControlName="videoGameStock">
              <div *ngIf="gameForm.get('videoGameStock')?.dirty || gameForm.get('videoGameStock')?.touched">
                <p *ngIf="gameForm.get('videoGameStock')?.hasError('required')" style="color: red">
                  Este campo es requerido
                </p>
                <p *ngIf="gameForm.get('videoGameYear')?.hasError('max')" style="color: red">
                 El año del juego no puede pertenecer a un año anterior
                </p>
              </div>
            </div>
          </div>
          <div class="input-group">
            <span class="mr-sm">Genero</span>
            <div class="input-fill w-100 mt-2">
              <input class="form-control w-100" type="text" formControlName="videoGameGender">

              <div *ngIf="gameForm.get('videoGameGender')?.dirty || gameForm.get('videoGameGender')?.touched">
                <p *ngIf="gameForm.get('videoGameGender')?.hasError('required')" style="color: red">
                  Este campo es requerido
                </p>
              </div>
            </div>
          </div>
          <div class="btns-edit">
            <button class="btn btn-success w-100" type="submit">Registrar</button>
            <button class="btn btn-primary w-100 mt-3" [routerLink]="'/dashboard/'">Volver</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>




